* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: "Raleway", sans-serif;
    display: grid;
    grid-template-areas:
        "nav"
        "main"
        "footer"
    ;
    grid-template-columns: 1fr;
}

/* css del navbar responsivo */

nav {
    height: 100px;
    width: 100%;
    z-index: 2;
}

.enlace {
    position: absolute;
    padding: 20px 50px;
}

.logo {
    height: 60px;
    width: 80px;
}

nav ul {
    float: right;
    margin-right: 20px;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: crimson;
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all .5s;

}

nav ul li {
    display: block;
    line-height: 60px;
    margin: 50px 0;
}

nav ul li a {
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a.active, li a:hover {
    background-color: #fff;
    color: crimson;
    transition: 1s;
}

.checkbtn {
    font-size: 30px;
    float: right;
    line-height: 100px;
    margin-right: 60px;
    cursor: pointer;
    display: block;  
}

#check {
    display: none;
}

#check:checked ~ ul {
    left: 0;
}

/* css del main */

main {
    grid-area: main;
    margin: 20px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    width: 100%;
}

.card img {
    object-position: 20px;
    width: 80%;
    filter: grayscale(100%);
    transition: filter 1s ease;
}

.card img:hover {
    filter: grayscale(0%);
}

.nombre {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
}

.precio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.descuento {
    font-weight: 500;
    color: crimson;
    padding-left: 5px;
}

.valorAntes {
    color: grey;
    text-align: center;
    text-decoration: line-through;
    font-weight: 500;
}

.comprar {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.comprar a {
    padding: 5px 10px;
    font-weight: 600;
    margin: 0 5px;
    color: white;
    background-color: crimson;
    border-radius: 3px;
}

.comprar a:hover {
    transform: scale(1.2);
}


main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
}

.card img {
    margin-left: 40px;
}

footer {
    grid-area: footer;
    height: 4vh;
    padding: 20px;
    text-align: center;
    font-size: 1.1rem;
    border-top: 1px solid rgb(237, 71, 105);
}

.redes {
    margin: 20px;
    padding-bottom: 20px;
}

.redes i {
    padding: 0 10px;
    font-size: 30px;
    color: crimson;
}

.redes i:hover {
    opacity: 0.7;
    transition: 1.5s;
}

/* Modificando css para desktop */

@media (width >= 576px) {
    body {
        grid-template-areas: 
            "nav main"
            "nav main"
            "footer footer"
        ;
    }

    nav {
        width: 15vw;

    }

    .logo {
        margin-left: 70px;
    }

    nav ul {
        float: left;
        position: relative;
        display: flex;
        flex-direction: column;
        left: 0;
        margin: 0;
        height: 100%;
        background-color: #fff;
    }

    nav ul li a {
        color: crimson;
    }

    li a.active, li a:hover {
        background-color: crimson;
        color: #fff;
        transition: 1s;
    }

    .checkbtn {
        display: none;
    }

    header {
        width: 100%;
        border: 1px solid crimson;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: flex-start;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card img {
        width: 45%;
        margin: 0;
    }

    .precio {
        justify-content: flex-start;
    }

    
}